body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
}

.titles, .under-titles {
    text-transform: uppercase;
    font-weight: bold;
}

.titles {
    /*text-align: center;*/
    /*font-size: 2rem;*/
    /*letter-spacing: 0.5rem;*/
    /*font-weight: bold;*/

    font-size: 30px;
    letter-spacing: 12px;
    color: #000000;
    font-weight: 900;
    text-align: center;
}

.under-titles {
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 900;
    text-align: center;
}

.small-text {
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'basis33', sans-serif;
    text-align: center;
    padding-bottom: 3.2vh
}

.text {
    width: 39vw;
    font-size: 16px;
    color: #000000;
    font-family: 'basis33', sans-serif;
}

.description, .text {
    /*font-size: .8rem;*/
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*.logo {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin: 10vh 0;*/
/*}*/

.logo img {
    width: 18vw;
}

.pero img {
    height: 8vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-menu {
    height: 14vh;
    background-color: black;
}

.back-text {
    z-index: -5;
    position: absolute;
}

.back-jp-text {
    z-index: -4;
    position: absolute;
}

.head-img {
    z-index: -3;
    position: absolute;
}

.smoke-img {
    z-index: -2;
    margin-top: 40vh;

}

.spray-img {
    z-index: -1;
    margin-right: 32vw;
    /*margin-bottom: -20vh;*/
}

.anime {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.bottom-menu {
    background-image: linear-gradient(45deg, #ed8131 0%, #e3258b 100%);
}