body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
}

.titles, .under-titles {
    text-transform: uppercase;
    font-weight: bold;
}

.titles {
    /*text-align: center;*/
    /*font-size: 2rem;*/
    /*letter-spacing: 0.5rem;*/
    /*font-weight: bold;*/

    font-size: 30px;
    letter-spacing: 12px;
    color: #000000;
    text-align: center;
}

.under-titles {
    font-size: 16px;
    letter-spacing: 4px;
    color: #000000;
    text-align: center;
}

.small-text {
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'basis33', sans-serif;
    text-align: center;
    padding-bottom: 3.2vh
}

.text {
    width: 39vw;
    font-size: 16px;
    color: #000000;
    font-family: 'basis33', sans-serif;
}

.description, .text {
    /*font-size: .8rem;*/
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*.logo {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin: 10vh 0;*/
/*}*/

.logo img {
    width: 18vw;
}

.pero {
    display: flex;
    justify-content: center;
    width: 10vw;
    position: absolute;
    margin-top: 150vh;
}

.pero img {
    height: 8vh;
    z-index: -99;
}

.screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back-text {
    z-index: -5;
    position: absolute;
}

.back-jp-text {
    z-index: -4;
    position: absolute;
}

.head-img {
    z-index: -3;
    position: absolute;
}

.smoke-img {
    z-index: -2;
    margin-top: 40vh;

}

.spray-img {
    z-index: -1;
    margin-right: 32vw;
    /*margin-bottom: -20vh;*/
}

.anime {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.bottom-menu {
    /*height: 14vh;*/
    background-color: black;
}

.bottom-menu {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;

    align-items: center;
    height: 12vh;

    /*background-image: linear-gradient(130deg, #000000 0%, lightcoral 100%);*/
}

.logo-bottom {
    /*margin-left: 3vw;*/
    margin: 1.2vw 0 1.2vw 3vw;
    flex-grow: 1;
}

.logo-bottom img {
    width: 18vw;
}

.menu li {
    /*margin: 0 3vw;*/
    list-style-type: none;
    float: left;
    height: 12vh;
    width: 8vw;
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li:hover {
    background-color: #f32725;
}

.menu ul {
    margin: 0;
}

.menu p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    height: 12vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 14vw;
    padding-left: 4vw;
}

.links img {
    height: 18px;
}

.links a {
    margin: 0;
    padding: 0;
}

.contacts li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #FFFFFF;
    background-color: #000000;
    width: 60vw;
    height: 6vh;
    margin-top: 4vh;
}

.contacts li a {
    margin-left: 2vw;
    color: #FFFFFF;
}

.contacts li:hover {
    background-image: linear-gradient(90deg, #f32725 0%, #fb7b01 100%);
}

.contacts p {
    font-size: 0.8rem;
    font-weight: bold;
}

.contacts {
    flex-grow: 1;
    padding-top: 14vh;
}

